antbs/static/*** linguist-vendored
antbs/templates/400.html linguist-vendored
antbs/templates/500.html linguist-vendored
antbs/templates/test.html linguist-vendored
antbs/templates/login.html linguist-vendored
antbs/templates/package.html linguist-vendored
antbs/templates/repo***.html linguist-vendored
antbs/templates/scheduled.html linguist-vendored