<!-- ANTERGOS LINKS BAR -->
<div id="top-bar">
	<div></div>
	<div id="top-header" class="">
		<div class="container-fluid">
			<ul class="nav navbar-nav not-nav">
				<li>
					<a href="mailto:info@antergos.com"><span class="et-social-icon fa fa-envelope"></span><span id="et-info-email">info@antergos.com</span></a>
				</li>
				<li class="et-social-icon et-social-facebook">
					<a href="//www.facebook.com/antergos" class="fa fa-facebook">
					</a>
				</li>
				<li class="et-social-icon et-social-twitter">
					<a href="//www.twitter.com/antergos" class="fa fa-twitter">
					</a>
				</li>
				<li class="et-social-icon et-social-google-plus">
					<a href="//plus.google.com/+Antergos" class="fa fa-google-plus">
					</a>
				</li>
				<li class="et-social-icon et-social-rss">
					<a href="//antergos.com/feed" class="fa fa-rss">
					</a>
				</li>
			</ul>

			<ul id="et-secondary-nav" class="nav navbar-nav navbar-right">
				<li class="">
					<a target="_blank" href="https://antergos.com/">Main</a></li>
				<li class="">
					<a target="_blank" href="https://forum.antergos.com/">Forum</a></li>
				<li class="">
					<a target="_blank" href="https://antergos.com/wiki">Wiki</a></li>
				<li class="">
					<a target="_blank" href="//github.com/antergos">Bugs</a></li>
				<li class="">
					<a target="_blank" href="//status.antergos.com">Status</a></li>
			</ul>
		</div>
	</div>
</div> <!-- END ANTERGOS LINKS BAR -->
