{% extends "base.html" %}

{% from '_macros.html' import calendar_heatmap %}

{% block pagetitle -%}Overview{%- endblock pagetitle %}

{% block topcontent %}
	<div class="row">
		<div class="col-lg-1 col-md-0 col-sm-12"></div>
		<div class="col-lg-2 col-md-4 col-sm-12">
			<div class="fd-tile detail clean tile-purple">
				<div class="content"><h1 class="text-left">{{ stats.build_queue }}</h1>

					<p>Queued Builds</p></div>
				<div class="icon"><i class="fa fa-clock-o"></i></div>
				<a class="details" href="/builds/queue">Details
					<span><i class="fa fa-arrow-circle-right pull-right"></i></span></a>
			</div>
		</div>


		<div class="col-lg-2 col-md-4 col-sm-12">
			<div class="fd-tile detail clean tile-lemon">
				<div class="content"><h1 class="text-left">{{ stats.completed }}</h1>

					<p>Completed Builds &lt; 48hrs</p></div>
				<div class="icon"><i class="fa fa-check"></i></div>
				<a class="details" href="/builds/completed">Details
					<span><i class="fa fa-arrow-circle-right pull-right"></i></span></a>
			</div>
		</div>


		<div class="col-lg-2 col-md-4 col-sm-12">
			<div class="fd-tile detail clean tile-red">
				<div class="content"><h1 class="text-left">{{ stats.failed }}</h1>

					<p>Failed Builds &lt; 48hrs</p></div>
				<div class="icon"><i class="fa  fa-exclamation-triangle"></i></div>
				<a class="details" href="/builds/failed">Details
					<span><i class="fa fa-arrow-circle-right pull-right"></i></span></a>
			</div>
		</div>

		<div class="col-lg-2 col-md-5 col-lg-offset-0 col-md-offset-1 col-sm-12">
			<div class="fd-tile detail clean tile-prusia">
				<div class="content"><h1 class="text-left">{{ stats.repo_staging }}</h1>

					<p>Packages In Staging Repo</p></div>
				<div class="icon"><i class="fa fa-rocket"></i></div>
				<a class="details" href="/repo/browse">Details
					<span><i class="fa fa-arrow-circle-right pull-right"></i></span></a>
			</div>
		</div>

		<div class="col-lg-2 col-md-5 col-sm-12">
			<div class="fd-tile detail clean tile-orange">
				<div class="content"><h1 class="text-left">{{ stats.repo_main }}</h1>

					<p>Packages In Main Repo</p></div>
				<div class="icon"><i class="fa fa-desktop"></i></div>
				<a class="details" href="/repo/browse/main">Details
					<span><i class="fa fa-arrow-circle-right pull-right"></i></span></a>
			</div>
		</div>

		<div class="col-lg-1 col-md-3 col-sm-12"></div>
	</div>
{% endblock topcontent %}

{% block bottomcontent %}
	<div class="row">
		{% if tl_events %}
			<div class="col-md-5" style="padding-left: 25px; margin-top: 30px;">
				<div class="block-transparent tlwrap">
					<div class="header">
						<h4>Timeline</h4>
					</div>
					<ul class="timeline">
						{%- for event in tl_events %}
							<li id="{{ event|attr('event_id') }}">
								<i class="{% if event|attr('tl_type') == 1 %}fa fa-github{% elif event|attr('tl_type') == 2 %}fa phab{% elif event|attr('tl_type') == 3 %}fa fa-rocket{% elif event|attr('tl_type') == 4 %}fa fa-check{% elif event|attr('tl_type') == 5 %}fa fa-times{% else %}fa fa-comment{% endif %}"></i>
								<span class="date">{{ event|attr('date_str') }}</span>

								<div class="content" style="padding-bottom:3px;">
									{{ event|attr('message')|safe() }}
									<p style="margin-top:10px;padding-bottom: 0px;">
										<small>{{ event|attr('time_str') }}</small>
										{% if current_user.is_authenticated and event|attr('packages')|count() > 0 %}
											<a href="#" class="rerun-transaction" data-tlevent="{{ event|attr('event_id') }}"><i class="fa fa-repeat" style="margin-left:5px;color:#F4275C;" data-toggle="tooltip" title="Rerun This Transaction"></i></a>
										{% endif %}
									</p>
								</div>
							</li>
						{% endfor -%}
					</ul>
					{% if all_pages > 1 %}
						<ul class="pagination">
							{% if page >= 2 %}
								<li><a href="/timeline/{{ page - 1 }}">&laquo;</a></li>
							{% else %}
								<li class="disabled"><a href="#">&laquo;</a></li>
							{% endif %}
							<li class="active"><a href="#">{{ page }}</a></li>

							<li><a href="/timeline/{{ page + 1 }}">&raquo;</a></li>
						</ul>
					{% endif %}
				</div>
			</div>
		{% endif %}
		<div class="col-md-7" style="margin-top: 47px; width: 52%; float: right;">
				<div class="block-flat dark-box" style="padding-bottom: 0px;">
					<div class="header">
						<div class="actions">
							<a class="minimize ant-disabled" href="#" id="build_history-Previous"><i class="fa fa-chevron-left"></i></a>
							<a class="refresh ant-disabled" href="#"><i class="fa"></i></a>
							<a class="close-down ant-disabled" href="#" id="build_history-Next"><i class="fa fa-chevron-right"></i></a>
						</div>
						<h3>Build Activity</h3>
					</div>
					<div class="content build_heat no-padding" style="width: 100%;">

					</div>
				</div>

		</div>
	</div>
{% endblock bottomcontent %}

{% block scripts %}
	{{ super() }}

	{% if build_history %}
		{{ calendar_heatmap(build_history, '.build_heat') }}
	{% endif %}

	<script>
		function tlhandler() {
			$('.pagination').on('click', 'a', function (e) {
				e.preventDefault();
				var url = $(this).attr('href');
				if (url != '#') {
					$(".tlwrap").fadeTo('fast', 0.2).load(url + " .tlwrap", function () {
						$(".tlwrap").fadeTo('fast', 1);
						tlhandler();
					});
				}
			});
			$('.tlwrap [data-toggle]').tooltip();
		}

		$(document).ready(tlhandler);

		{% if current_user.is_authenticated %}
			function rerun_trans_handler() {
				$('.tlwrap').on('click', '.rerun-transaction', function(e) {
					e.preventDefault();

					var $icon = $(this).find('i'),
						url = '/api/ajax?rerun_transaction=' + $(this).attr('data-tlevent');

					$icon.addClass('fa-spin');

					$.getJSON(url, function(data) {
						setTimeout(function($the_icon) {
							$the_icon.removeClass('fa-spin');
						}, 2000, $icon);
					});
				});
			}

			$(document).ready(rerun_trans_handler);
		{% endif %}
	</script>
{% endblock scripts %}
