{% extends "base.html" %}

{% block pagetitle -%}Repo Package List{%- endblock pagetitle %}
{% block stats %}{% endblock stats %}

{% block bottomcontent -%}

	<div class="col-md-12">
		<div id="bottom-wrap" class="block-flat">
			<div class="loading"><i class="fa fa-refresh fa-spin"></i></div>
			<div class="header">
				<h3>{{ name }}</h3>
			</div>
			<div class="content">
				{% if not repo_packages %}
					No packages found.
				{% else %}
					<table class="table no-border hover">
						<thead class="no-border">
						<tr>
							<th>ID&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
							<th>Name</th>
							<th>Version</th>
							<th>Last Result</th>
							<th>Last Reviewed By</th>
							<th>Last Review Date</th>
							{% if user.is_authenticated() %}
								<th>Manage</th>{% endif %}
						</tr>
						</thead>
						<tbody class="no-border-y">


						{% for pkg_id, pkg_dict in repo_packages|dictsort() %}
							{% for pkg_obj, bld_obj in pkg_dict|dictsort() if bld_obj %}


								{% if user.is_authenticated() %}
									<tr>
										<td>{{ bld_obj['pkg_id'] }}</td>
										<td><a href="/pkg/{{ bld_obj['pkgname'] }}">{{ bld_obj['pkgname'] }}</a></td>
										<td>{{ bld_obj['version_str'] }}</td>
										<td>{% if bld_obj['review_status'] == 'pending' %}
											<i class="fafa-clock-o" style="color:yellow;"></i>
											{{ bld_obj['review_status'] }}
										{% elif bld_obj['review_status'] == 'passed' %}
											<i class="fa fa-check" style="color:green;"></i>
											{{ bld_obj['review_status'] }}{% elif bld_obj['review_stat'] == 'failed' %}
											<i class="fa fa-exclamation-circle" style="color:red;"></i>
											{{ bld_obj['review_status'] }}
										{% endif %}</td>
										<td>
											{% if bld_obj['review_dev'] != '' and bld_obj['review_dev'] is not none and bld_obj['review_dev'] != 'None' %}
												<i class="fa fa-user"></i>
												{{ bld_obj['review_dev'] }}{% else %}n/a{% endif %}</td>
										<td>
											{% if bld_obj['review_date'] != '' and bld_obj['review_date'] is not none and bld_obj['review_date'] != 'None' %}
												<i class="fa fa-calendar"></i>
												{{ bld_obj['review_date'] }}{% else %}n/a{% endif %}</td>

										<td>
											<div class="btn-group">
												<button class="btn btn-default btn-xs" type="button">Action</button>
												<button data-toggle="dropdown"
														class="btn btn-xs btn-primary dropdown-toggle" type="button">
													<span class="caret"></span>
													<span class="sr-only">Toggle Dropdown</span></button>
												<ul role="menu" class="dropdown-menu actions">
													<li><a href="#" id="2" bnum="{{ bld_obj['bnum'] }}"><i
														class="fa fa-refresh"
														style="color:green;"></i>
														Rebuild</a></li>
													<li><a href="#" id="3" bnum="{{ bld_obj['bnum'] }}"><i
														class="fa fa-trash" style="color:red;"></i>
														Remove</a>
													</li>
												</ul>
											</div>
                                    <span class="passed" style="display: none"><i class="fa fa-check"
																				  style="color:green;"></i> Passed</span>
                                    <span class="failed" style="display: none"><i
										class="fa fa-exclamation-circle"
										style="color:red;"></i> Failed</span>
										</td>
									</tr>

								{% else %}
									<tr>
										<td>{{ bld_obj['pkg_id'] }}</td>
										<td>{{ bld_obj['pkgname'] }}</td>
										<td>{{ bld_obj['version_str'] }}</td>
										<td>{% if bld_obj['review_status'] == 'pending' %}
											<i class="fafa-clock-o" style="color:yellow;"></i>
											{{ bld_obj['review_status'] }}{% elif bld_obj['review_status'] == 'passed' %}
											<i class="fa fa-check" style="color:green;"></i>
											{{ bld_obj['review_status'] }}{% elif bld_obj['review_status'] == 'failed' %}
											<i class="fa fa-exclamation-circle" style="color:red;"></i>
											{{ bld_obj['review_status'] }}{% endif %}</td>
										<td>
											{% if bld_obj['review_dev'] != '' and bld_obj['review_dev'] is not none and bld_obj['review_dev'] != 'None' %}
												<i class="fa fa-user"></i>
												{{ bld_obj['review_dev'] }}{% else %}n/a{% endif %}</td>
										<td>
											{% if bld_obj['review_date'] != '' and bld_obj['review_date'] is not none and bld_obj['review_date'] != 'None' %}
												<i class="fa fa-calendar"></i>
												{{ bld_obj['review_date'] }}{% else %}n/a{% endif %}</td>
										<td></td>
									</tr>
								{% endif %}
							{% endfor %}
						{% endfor %}


						</tbody>
					</table>
					{% macro render_pagination(pagination) %}
						<ul class="pagination custom">
							{% if pagination.has_prev %}
								<li><a href="{{ url_for_other_page(pagination.page - 1) }}">&laquo; Previous</a></li>
							{% endif %}
							{%- for page in pagination.iter_pages() %}
								{% if page %}

									{% if page != pagination.page %}
										<li><a href="{{ url_for_other_page(page) }}">{{ page }}</a></li>
									{% else %}
										<li class="active"><a href="#"><strong>{{ page }}</strong></a></li>
									{% endif %}
								{% else %}
									<li><span class=ellipsis>…</span></li>
								{% endif %}
							{%- endfor %}
							{% if pagination.has_next %}
								<li><a href="{{ url_for_other_page(pagination.page + 1) }}">Next &raquo;</a></li>
							{% endif %}
						</ul>
					{% endmacro %}
					{#                    {{ render_pagination(pagination) }}#}
				{% endif %}
			</div>

		</div>
	</div>

{%- endblock bottomcontent %}
{% if user.is_authenticated() %}
	{% block scripts %}
		{{ super() }}
		<script type="text/javascript">
			/*jQuery(document).ready(function () {
			 jQuery('.set_result').on('click', 'a', function (e) {
			 e.preventDefault();
			 jQuery(this).addClass('clicked');
			 var data = {
			 bnum: jQuery(this).attr('bnum'),
			 result: jQuery(this).attr('id'),
			 dev: '{{ user.username }}'
			 };
			 jQuery.ajax({
			 type: 'POST',
			 url: '/pkg_review',
			 data: JSON.stringify(data, null, '\t'),
			 contentType: 'application/json;charset=UTF-8',
			 dataType: 'json',
			 success: function (result) {
			 console.log(result);
			 var res = $('.clicked').attr('id') == '2' ? 'span.passed' : 'span.failed';
			 if (result['msg'] == 'ok') {
			 jQuery('.clicked').parents('td').find(res).show();
			 jQuery('.clicked').removeClass('clicked').parents('.btn-group').hide();
			 } else {
			 alert('Unable to save result. Server Error Msg:\n' + result['msg']);
			 }
			 }

			 });
			 });
			 });*/
		</script>
	{% endblock scripts %}
{% endif %}