{% extends "base.html" %}

{% from '_macros.html' import listing_table with context %}

{% set link = '/repo/' + name + '/packages' %}

{% block pagetitle -%}Repo Packages{%- endblock pagetitle %}

{% block bottomcontent -%}
	<div class="row">
		<div class="col-md-12">
			<div id="bottom-wrap" class="block-flat">
				<div class="loading"><i class="fa fa-refresh fa-spin"></i></div>
				<div class="header">
					<h3>{{ name }}</h3>
				</div>
				<div class="content">
					{% if not repo_packages %}
						None
					{% else %}
						{{ listing_table(columns_info, repo_packages, pagination) }}
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{%- endblock bottomcontent %}

{% block scripts %}
	{{ super() }}
{% endblock scripts %}