{% extends "base.html" %}
{% block head %}
{{  super() }}
<script>
	document.addEventListener('DOMContentLoaded', function() {
	{% if repo_packages %}window.antbs = JSON.parse('{{ repo_packages|tojson }}');{% else %}window.antbs = {pkgs: []};{% endif %}
	});
</script>
{% endblock head %}
{% block pagetitle -%}Repo Package List{%- endblock pagetitle %}
{% block stats %}{% endblock stats %}

{% block bottomcontent -%}
	<div class="row">
	<div class="col-md-12">
		<div id="bottom-wrap" class="block-flat">
			<div class="loading"><i class="fa fa-refresh fa-spin"></i></div>
			<div class="header">
				<h3>{{ name }}</h3>
			</div>
			<div class="content">
				{% if not repo_packages %}
					No packages found.
				{% else %}
					<table class="table no-border hover">
						<thead class="no-border">
						<tr>
							<th>ID&nbsp;&nbsp;</th>
							<th>Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
							<th>Version</th>
							<th>Build</th>
							<th>Reviewed By</th>
							<th>Reviewed On</th>
							{% if current_user.is_authenticated %}
								<th>Manage</th>{% endif %}
						</tr>
						</thead>
						<tbody class="no-border-y">

						</tbody>
					</table>

				{% endif %}
			</div>

		</div>
	</div>
	</div>

{%- endblock bottomcontent %}
{% if current_user.is_authenticated %}
	{% block scripts %}
		{{ super() }}
	{% endblock scripts %}
{% endif %}