{% block doc -%}
    <!DOCTYPE html>
    <html{% block html_attribs %} lang="en"{% endblock html_attribs %}>
    {%- block html %}
        <head>
            {%- block head %}
                <meta charset="utf-8">
                <meta name="description" content="Antergos Automated Build Server">
                <meta name="author" content="Antergos Developers">
                <link rel="shortcut icon" href="/static/img/fav.png">
                <title>AntBS | {% block pagetitle %}{% endblock pagetitle %}</title>

                {%- block metas %}
                    <meta name="viewport" content="width=device-width, initial-scale=1.0">
                {%- endblock metas %}

                {%- block styles %}
                    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic,700,800'
                          rel='stylesheet' type='text/css'>
                    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,200,100,700' rel='stylesheet'
                          type='text/css'>
                    <!-- Bootstrap core CSS -->
                    <link href="/static/js/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
                    <link rel="stylesheet" href="/static/fonts/font-awesome-4/css/font-awesome.min.css">
                    <link rel="stylesheet" type="text/css"
                          href="/static/js/jquery.datatables/bootstrap-adapter/css/datatables.css"/>
                    <!--<link rel="stylesheet" type="text/css" href="/static/js/jquery.niftymodals/css/component.css" /> -->

                    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
                    <!--[if lt IE 9]>
                      <script src="../../assets/js/html5shiv.js"></script>
                      <script src="../../assets/js/respond.min.js"></script>
                    <![endif]-->

                    <link href="/static/css/skin-blue.css" rel="stylesheet"/>
                    <link href="/static/css/monokai.css" rel="stylesheet">
                    <link href="/static/js/jquery.nanoscroller/nanoscroller.css" rel="stylesheet">
                    <style type="text/css">
                        .sidebar-logo {
                            background: #4aa3df;
                        }

                        .sb-collapsed .sidebar-logo {

                            background: url("/static/images/antergos-everyone.png") no-repeat scroll 15px -39px #4aa3df;
                        }

                        .pre-scrollable {
                            white-space: pre-wrap;
                            margin-top: 0px;
                            border: none;

                        }

                        .block .header h3 {
                            margin: 3px 0;
                            font-family: "Raleway", Helvetica, sans-serif;
                            font-weight: 400;
                        }

                        .hfloat {
                            float: left;
                        }

                        h3.hfloat {
                            width: 240px;
                        }

                        .hclear {
                            clear: right;
                        }

                        .sidebar-logo {
                            padding: 8px 20px;
                        }

                        .sidebar-logo .logo {
                            display: block;
                            margin: 0 auto;
                        }

                        .sb-collapsed .sidebar-logo .logo {
                            display: initial;
                            margin: initial;
                        }

                        .sb-collapsed .sidebar-logo {
                            background: url("/static/images/antergos-everyone.png") no-repeat scroll 12px 5px #4aa3df;
                            background-size: 300%;
                        }

                        .sidebar-logo .logo a img {
                            max-width: 65%;
                            height: auto;
                            display: block;
                            margin: 0 auto;
                            position: relative;
                            right: 8px;
                        }

                        .sb-collapsed .sidebar-logo .logo a img {
                            display: none;
                        }

                        .sb-collapsed .logo:after {
                            content: "";
                            display: block;
                            position: absolute;
                            right: 0;
                            height: 35px;
                            width: 10px;
                            background: #4aa3df;
                            z-index: 99999;
                            top: 8px;
                        }

                        .profile_menu .dropdown-toggle {
                            padding: 22px;
                        }

                        #build_now_form {
                            display: inline-block;
                        }

                    </style>
                {%- endblock styles %}
            {%- endblock head %}
        </head>
        <body{% block body_attribs %} class="animated"{% endblock body_attribs %}>
        {% block body -%}
            {% block sidebar %}

                <div id="cl-wrapper">

                <div class="cl-sidebar">
                    <div class="cl-toggle"><i class="fa fa-bars"></i></div>
                    <div class="cl-navblock">
                        <div class="menu-space">
                            <div class="content">
                                <div class="sidebar-logo">
                                    <div class="logo">
                                        <a href="/"><img src="/static/images/antergos-everyone.png"/></a>
                                    </div>
                                </div>
                                <div class="side-user">
                                    <dl style="color:rgba(255, 255, 255, 0.6);">
                                        <dt>Antergos Build Server</dt>
                                        <dd>Automated repo management application that builds packages and iso
                                            images.
                                        </dd>
                                    </dl>
                                </div>
                                <ul class="cl-vnavigation">
                                    <li {% if request.path == "/" %}class="active"{% endif %}><a href="/"><i
                                            class="fa fa-home"></i><span>Overview</span></a>
                                    </li>
                                    <li {% if request.path == "/building" %}class="active"{% endif %}><a
                                            href="/building"><i
                                            class="fa fa-eye"></i><span>Live Build Output</span></a>
                                    </li>
                                    <li class="parent"><a href="#"><i
                                            class="fa  fa-bar-chart-o"></i><span>Build Reports</span></a>
                                        <ul class="sub-menu">
                                            <li {% if request.path == "/scheduled" %}class="active"{% endif %}><a
                                                    href="/scheduled"><i
                                                    class="fa  fa-clock-o"></i><span>Scheduled</span></a>
                                            </li>
                                            <li {% if request.path == "/completed" or res == "completed" %}class="active"{% endif %}>
                                                <a
                                                        href="/completed"><i
                                                        class="fa  fa-thumbs-o-up"></i><span>Completed</span></a>
                                            </li>
                                            <li {% if request.path == "/failed" or res == "failed" %}
                                                class="active"{% endif %}><a
                                                    href="/failed"><i
                                                    class="fa fa-exclamation-circle"></i><span>Failed</span></a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li {% if request.path == "/browse" %}class="active"{% endif %}><a href="/browse"><i
                                            class="fa  fa-archive"></i><span>Packages</span></a>
                                        <ul class="sub-menu">
                                            <li {% if request.path == "/browse/main" %}class="active"{% endif %}><a
                                                    href="/browse/main"><i
                                                    class="fa   fa-cloud"></i><span>Main Repo</span></a>
                                            </li>
                                            <li {% if request.path == "/browse" %}class="active"{% endif %}><a
                                                    href="/browse"><i
                                                    class="fa   fa-cloud-upload"></i><span>Staging Repo</span></a>
                                            </li>
                                        </ul>
                                        <!--<li><a href="#" class="md-trigger" data-modal="md-3dSign"><i class="fa  fa-archive"></i><span>Packages</span></a>-->

                                    </li>
                                    <li {% if request.path == "/browse/releases" %}class="active"{% endif %}><a
                                            href="/browse/releases"><i class="fa  fa-bullhorn"></i><span>Releases</span></a>

                                    </li>
                                    <li {% if request.path == "/browse/testing" %}class="active"{% endif %}><a
                                            href="/browse/testing"><i
                                            class="fa fa-wrench"></i><span>Testing</span></a></li>


                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="text-right collapse-button" style="padding:7px 9px;">
                        {% if user.is_authenticated() %}
                            <form action="/build_pkg_now" role="form" id="build_now_form" method="post">
                                <input type="text" class="form-control search" name="pkgname" id="pkgname"
                                       placeholder="Build Now..."/>
                            </form>
                        {% endif %}
                        <button id="sidebar-collapse" class="btn btn-default" style=""><i style="color:#fff;"
                                                                                          class="fa fa-angle-left"></i>
                        </button>
                    </div>
                </div>
            {% endblock sidebar %}
        <div class="container-fluid" id="pcont">

            {% block topbar %}
                <!-- TOP BAR -->
                <div id="head-nav" class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-collapse">
                            <ul class="nav navbar-nav navbar-right user-nav">
                                {% if user.is_authenticated() %}
                                    <li class="dropdown profile_menu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                                                class="fa fa-user"></i> {{ user.username }}
                                            <b class="caret"></b></a>

                                        <ul class="dropdown-menu">
                                            <li><a href="/logout"><i class="fa fa-sign-out"></i> Log Out</a></li>
                                        </ul>

                                    </li>
                                    </ul>
                                    <ul class="nav navbar-nav not-nav">
                                        <li class="button" data-toggle="tooltip"
                                            title="Status:
                                                    {% if idle == False %}{{ building }}{% else %}Idle{% endif %}"
                                            data-placement="bottom"><a href="#"><i
                                                class="fa {% if idle == False %}fa-spinner fa-spin{% else %}fa-dot-circle-o{% endif %}"></i></a></li>
                                        <li class="button{% if rev_pending|count() > 0 %} dropdown{% endif %}"
                                            data-toggle="tooltip"
                                            title="Pending Review"
                                            data-placement="bottom">
                                            <a href="#" {% if rev_pending|count() > 0 %}class="dropdown-toggle"
                                               data-toggle="dropdown"{% endif %}><i
                                                    class="fa fa-archive"></i>{% if rev_pending|count() > 0 %}
                                                <span class="bubble">{{ rev_pending|count() }}</span>{% endif %}
                                            </a>
                                            {% if rev_pending|count() > 0 %}
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <div class="nano nscroller has-scrollbar">
                                                            <div class="content" tabindex="0" style="right: -15px;">
                                                                <ul>
                                                                    {% for item in completed %}
                                                                        {% for pkg, info in item.items() %}
                                                                            {% if info['review_stat'] == "pending" %}
                                                                                <li><a href="/pkg_review"><i
                                                                                        class="fa fa-archive"></i><b>{{ info['name'] }}</b>
                                                                                    {{ info['version'] }} <span
                                                                                            class="date">{{ info['end'] }}</span></a>
                                                                                </li>
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    {% endfor %}

                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <ul class="foot">
                                                            <li><a href="/pkg_review">View All </a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            {% endif %}
                                        </li>
                                    </ul>


                                {% else %}
                                    <li class="dropdown profile_menu">
                                        <a href="/login" class="dropdown-toggle"><i class="fa fa-sign-in"></i> Login</a>
                                        {#<b class="caret"></b></a>

                                    <ul class="dropdown-menu">
                                        <li class="disabled"><a href="#">Not Implemented</a></li>
                                    </ul>#}

                                    </li>
                                    </ul>
                                    <ul class="nav navbar-nav not-nav">
                                        <li class="button" data-toggle="tooltip"
                                                                                title="Status:
                                                                                        {% if idle == False %}{{ building }}{% else %}Idle{% endif %}"
                                                                                data-placement="bottom"><a href="#"><i
                                                                                    class="fa {% if idle == False %}fa-spinner fa-spin{% else %}fa-dot-circle-o{% endif %}"></i></a></li>
                                    </ul>
                                {% endif %}


                        </div>
                    </div>
                </div>
            {%- endblock topbar %}
            <!-- Main -->
            {% block maincontainer %}
                <div id="main" class="cl-mcont">
                    {% block subheader %}
                        {% if request.path != "/" %}
                            <div class="page-head"><h2>{{ self.pagetitle() }}</h2>
                                <ol class="breadcrumb">
                                    <li><a href="/">Home</a></li>

                                    <li class="active">{{ self.pagetitle() }}</li>
                                </ol>
                            </div>
                        {% endif %}
                    {% endblock subheader %}

                    <!-- upper section -->
                    <div class="row">
                        {% block topcontent -%}


                        {%- endblock topcontent %}
                    </div>
                    <div class="row">
                        {% block bottomcontent -%}


                        {%- endblock bottomcontent %}
                    </div>
                    <!--/row-->

                    <!-- /upper section -->

                </div><!--/container-->
            {% endblock maincontainer %}
        </div> <!-- /Main -->
        </div>


            {% block scripts %}
                <script src="/static/js/jquery.js"></script>
                <script src="/static/js/jquery.cookie/jquery.cookie.js"></script>
                <script src="/static/js/jquery.pushmenu/js/jPushMenu.js"></script>

                <!--<script src="/static/js/jquery.niftymodals/js/jquery.modalEffects.js"></script>-->

                <script type="text/javascript" src="/static/js/jquery.ui/jquery-ui.js"></script>
                <script type="text/javascript" src="/static/js/jquery.nanoscroller/jquery.nanoscroller.min.js"></script>


                <!-- Bootstrap core JavaScript
                ================================================== -->
                <!-- Placed at the end of the document so the pages load faster -->
                <script src="/static/js/bootstrap/dist/js/bootstrap.min.js"></script>
                <script type="text/javascript" src="/static/js/behaviour/core.js"></script>
                <script type="text/javascript" src="/static/js/jquery.datatables/jquery.datatables.min.js"></script>
                <script type="text/javascript"
                        src="/static/js/jquery.datatables/bootstrap-adapter/js/datatables.js"></script>
                <script type="text/javascript"
                        src="/static/js/jquery.datatables/bootstrap-adapter/js/dataTables.bootstrap.js"></script>
                <script type="text/javascript"
                        src="//cdn.datatables.net/plug-ins/725b2a2115b/type-detection/num-html.js"></script>
                <script type="text/javascript">
                    //sets up numeric sorting of links
                    jQuery(document).ready(function () {
                        jQuery('pre').addClass('pre-scrollable');
                    });
                    jQuery(window).load(function () {
                        jQuery('[data-toggle="tooltip"]').tooltip();

                        jQuery('.loading').fadeIn();
                        if (jQuery('table').length && !jQuery('#noDt').length) {

                            jQuery.fn.dataTableExt.oSort['num-html-asc'] = function (a, b) {
                                var x = a.replace(/<.*?>/g, "");
                                var y = b.replace(/<.*?>/g, "");
                                x = parseFloat(x);
                                y = parseFloat(y);
                                return ((x < y || isNaN(y) ) ? -1 : ((x > y || isNaN(x)) ? 1 : 0));
                            };

                            jQuery.fn.dataTableExt.oSort['num-html-desc'] = function (a, b) {
                                var x = a.replace(/<.*?>/g, "");
                                var y = b.replace(/<.*?>/g, "");
                                x = parseFloat(x);
                                y = parseFloat(y);
                                return ((x < y || isNaN(x)) ? 1 : ((x > y || isNaN(y) ) ? -1 : 0));
                            };
                            jQuery('table')
                                    .on('init.dt', function (e, settings, data) {
                                        setTimeout(function () {
                                            jQuery('.loading').fadeOut();
                                        }, 750)
                                    })
                                    .dataTable({
                                        "aoColumns": [
                                            {"sType": "num-html"},
                                            null,
                                            null,
                                            null,
                                            null{% if request.path == '/completed' or request.path == '/pkg_review' %},
                                                null,
                                                null,
                                                null{% endif %}
                                        ],
                                        "aaSorting": [
                                            [0, "desc"]
                                        ]

                                    })

                        }

                    });


                </script>
            {%- endblock scripts %}
        {%- endblock body %}
        </body>
    {%- endblock html %}
    </html>
{% endblock doc -%}