{% extends "base.html" %}

{% block pagetitle -%}Completed{%- endblock pagetitle %}
{% block stats %}{% endblock stats %}

{% block bottomcontent -%}

	<div class="col-md-12">
		<div id="bottom-wrap" class="block-flat">
			<div class="loading"><i class="fa fa-refresh fa-spin"></i></div>
			<div class="header">
				<h3>Completed Builds</h3>
			</div>
			<div class="content">
                {% if not completed or completed == "0" %}
					None
                {% else %}
					<div class="col-md-3 pull-right">
						<div class="form-group">
							<div class="input-group">
								<input id="search_input" type="text" class="form-control">
                                            <span class="input-group-btn">
                                            <button id="search_btn" class="btn btn-primary" type="button">Search!
                                            </button>
                                            </span>
							</div>

						</div>
					</div>
					<table class="table no-border hover">
						<thead class="no-border">
						<tr>
							<th>Build&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
							<th>Name</th>
							<th>Version</th>
							<th>Start</th>
							<th>End</th>
							<th>Review Status</th>
							<th>Reviewed By</th>
							<th>Review Date</th>
						</tr>
						</thead>
						<tbody class="no-border-y">


                        {% for pkg, info in completed|dictsort() %}
                            {% if user.is_authenticated() %}
								<tr>
									<td><a href="/build/{{ info['bnum'] }}">{{ info['bnum'] }}</a></td>
									<td><a href="/pkg/{{ info['name'] }}">{{ info['name'] }}</a></td>
									<td>{{ info['version'] }}</td>
									<td>{{ info['start'] }}</td>
									<td>{{ info['end'] }}</td>
									<td>{% if info['review_stat'] == 'pending' %}
										<div class="btn-group">
											<button class="btn btn-default btn-xs" type="button">Set Result</button>
											<button data-toggle="dropdown"
											        class="btn btn-xs btn-primary dropdown-toggle" type="button">
												<span class="caret"></span>
												<span class="sr-only">Toggle Dropdown</span></button>
											<ul role="menu" class="dropdown-menu set_result">
												<li><a href="#" id="2" bnum="{{ info['bnum'] }}"><i
													class="fa fa-check"
													style="color:green;"></i>
													Pass</a></li>
												<li><a href="#" id="3" bnum="{{ info['bnum'] }}"><i
													class="fa fa-exclamation" style="color:red;"></i>
													Fail</a>
												</li>
												<li style="font-style: italic;"><a href="#" id="4"
												                                   bnum="{{ info['bnum'] }}"><i
													class="fa fa-eye-slash" style="color:#777777;"></i>
													Skip</a>
												</li>
											</ul>
										</div>
										<span class="passed" style="display: none"><i class="fa fa-check"
										                                              style="color:green;"></i> Passed</span>
										<span class="failed" style="display: none"><i
											class="fa fa-exclamation-circle"
											style="color:red;"></i> Failed</span>
                                    {% elif info['review_stat'] == 'passed' %}
										<i class="fa fa-check" style="color:green;"></i>
                                        {{ info['review_stat'] }}{% elif info['review_stat'] == 'failed' %}
										<i class="fa fa-exclamation-circle" style="color:red;"></i>
                                        {{ info['review_stat'] }}
                                    {% endif %}</td>
									<td>
                                        {% if info['review_dev'] != '' and info['review_dev'] is not none and info['review_dev'] != 'None' %}
											<i class="fa fa-user"></i>
                                            {{ info['review_dev'] }}{% else %}n/a{% endif %}</td>
									<td>
                                        {% if info['review_date'] != '' and info['review_date'] is not none and info['review_date'] != 'None' %}
											<i class="fa fa-calendar"></i>
                                            {{ info['review_date'] }}{% else %}n/a{% endif %}</td>
								</tr>

                            {% else %}
								<tr>
									<td><a href="/build/{{ info['bnum'] }}">{{ info['bnum'] }}</a></td>
									<td>{{ info['name'] }}</td>
									<td>{{ info['version'] }}</td>
									<td>{{ info['start'] }}</td>
									<td>{{ info['end'] }}</td>
									<td>{% if info['review_stat'] == 'pending' %}
										<i class="fafa-clock-o" style="color:yellow;"></i>
                                        {{ info['review_stat'] }}{% elif info['review_stat'] == 'passed' %}
										<i class="fa fa-check" style="color:green;"></i>
                                        {{ info['review_stat'] }}{% elif info['review_stat'] == 'failed' %}
										<i class="fa fa-exclamation-circle" style="color:red;"></i>
                                        {{ info['review_stat'] }}{% endif %}</td>
									<td>
                                        {% if info['review_dev'] != '' and info['review_dev'] is not none and info['review_dev'] != 'None' %}
											<i class="fa fa-user"></i>
                                            {{ info['review_dev'] }}{% else %}n/a{% endif %}</td>
									<td>
                                        {% if info['review_date'] != '' and info['review_date'] is not none and info['review_date'] != 'None' %}
											<i class="fa fa-calendar"></i>
                                            {{ info['review_date'] }}{% else %}n/a{% endif %}</td>
								</tr>
                            {% endif %}
                        {% endfor %}


						</tbody>
					</table>
                    {% macro render_pagination(pagination) %}
						<ul class="pagination custom">
                            {% if pagination.has_prev %}
								<li><a href="{{ url_for_other_page(pagination.page - 1) }}">&laquo; Previous</a></li>
                            {% endif %}
                            {%- for page in pagination.iter_pages() %}
                                {% if page %}

                                    {% if page != pagination.page %}
										<li><a href="{{ url_for_other_page(page) }}">{{ page }}</a></li>
                                    {% else %}
										<li class="active"><a href="#"><strong>{{ page }}</strong></a></li>
                                    {% endif %}
                                {% else %}
									<li><span class=ellipsis>…</span></li>
                                {% endif %}
                            {%- endfor %}
                            {% if pagination.has_next %}
								<li><a href="{{ url_for_other_page(pagination.page + 1) }}">Next &raquo;</a></li>
                            {% endif %}
						</ul>
                    {% endmacro %}
                    {{ render_pagination(pagination) }}
                {% endif %}
			</div>

		</div>
	</div>

{%- endblock bottomcontent %}
{% block scripts %}
    {{ super() }}
	<script type="text/javascript">
		jQuery('#search_btn').on('click', function () {
			var search = jQuery('#search_input').val();
			window.location = '/completed/search/' + search;
		});
		jQuery("#search_input").keyup(function (e) {
			if (e.keyCode == 13) {
				jQuery('#search_btn').trigger('click');
			}
		});
		{% if user.is_authenticated() %}

			jQuery(document).ready(function () {

				jQuery('.set_result').on('click', 'a', function (e) {
					e.preventDefault();
					jQuery(this).addClass('clicked');
					var data = {
						bnum: jQuery(this).attr('bnum'),
						result: jQuery(this).attr('id'),
						dev: '{{ user.username }}'
					};
					jQuery.ajax({
						type: 'POST',
						url: '/pkg_review',
						data: JSON.stringify(data, null, '\t'),
						contentType: 'application/json;charset=UTF-8',
						dataType: 'json',
						success: function (result) {
							console.log(result);
							var res = $('.clicked').attr('id') == '2' ? 'span.passed' : 'span.failed';
							if (result['msg'] == 'ok') {
								jQuery('.clicked').parents('td').find(res).show();
								jQuery('.clicked').removeClass('clicked').parents('.btn-group').hide();
							} else {
								alert('Unable to save result. Server Error Msg:\n' + result['msg']);
							}
						}

					});
				});
			});
		{% endif %}
	</script>
{% endblock scripts %}