{% extends "base.html" %}

{% block pagetitle -%}Completed{%- endblock pagetitle %}
{% block stats %}{% endblock stats %}

{% block bottomcontent -%}

    <div class="col-md-12">
        <div id="bottom-wrap" class="block-flat">
            <div class="header">
                <h3>Completed Builds</h3>
            </div>
            <div class="content">
                {% if not completed or completed == "0" %}
                    None
                {% else %}
                    <table class="table no-border hover">
                        <thead class="no-border">
                        <tr>
                            <th>Build&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                            <th>Name</th>
                            <th>Version</th>
                            <th>Start</th>
                            <th>End</th>
                            <th>Review Status</th>
                            <th>Reviewed By</th>
                            <th>Review Date</th>
                        </tr>
                        </thead>
                        <tbody class="no-border-y">

                        {% for item in completed %}
                            {% for pkg, info in item.items() %}
                                {% if user.is_authenticated() %}
                                    <tr>
                                        <td><a href="/build/{{ info['bnum'] }}">{{ info['bnum'] }}</a></td>
                                        <td>{{ info['name'] }}</td>
                                        <td>{{ info['version'] }}</td>
                                        <td>{{ info['start'] }}</td>
                                        <td>{{ info['end'] }}</td>
                                        <td>{% if info['review_stat'] == 'pending' %}
                                            <div class="btn-group">
                                                <button class="btn btn-default btn-xs" type="button">Set Result</button>
                                                <button data-toggle="dropdown"
                                                        class="btn btn-xs btn-primary dropdown-toggle" type="button">
                                                    <span class="caret"></span>
                                                    <span class="sr-only">Toggle Dropdown</span></button>
                                                <ul role="menu" class="dropdown-menu set_result">
                                                    <li><a href="#" id="2" bnum="{{ info['bnum'] }}"><i
                                                            class="fa fa-check"
                                                            style="color:green;"></i>
                                                        Pass</a></li>
                                                    <li><a href="#" id="3" bnum="{{ info['bnum'] }}"><i
                                                            class="fa fa-exclamation" style="color:red;"></i>
                                                        Fail</a>
                                                    </li>
                                                    <li style="font-style: italic;"><a href="#" id="4" bnum="{{ info['bnum'] }}"><i
                                                            class="fa fa-eye-slash" style="color:#777777;"></i>
                                                        Skip</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <span class="passed" style="display: none"><i class="fa fa-check"
                                                                                          style="color:green;"></i> Passed</span>
                                            <span class="failed" style="display: none"><i
                                                    class="fa fa-exclaimation-circle"
                                                    style="color:red;"></i> Failed</span>
                                        {% elif info['review_stat'] == 'passed' %}
                                            <i class="fa fa-check" style="color:green;"></i>
                                            {{ info['review_stat'] }}{% elif info['review_stat'] == 'failed' %}
                                            <i class="fa fa-exclamation-circle" style="color:red;"></i>
                                            {{ info['review_stat'] }}
                                        {% endif %}</td>
                                        <td>{% if info['review_dev'] %}<i class="fa fa-user"></i>
                                            {{ info['review_dev'] }}{% else %}n/a{% endif %}</td>
                                        <td>{% if info['review_date'] %}<i class="fa fa-calendar"></i>
                                            {{ info['review_date'] }}{% else %}n/a{% endif %}</td>
                                    </tr>

                                {% else %}
                                    <tr>
                                        <td><a href="/build/{{ info['bnum'] }}">{{ info['bnum'] }}</a></td>
                                        <td>{{ info['name'] }}</td>
                                        <td>{{ info['version'] }}</td>
                                        <td>{{ info['start'] }}</td>
                                        <td>{{ info['end'] }}</td>
                                        <td>{% if info['review_stat'] == 'pending' %}
                                            <i class="fafa-clock-o" style="color:yellow;"></i>
                                            {{ info['review_stat'] }}{% elif info['review_stat'] == 'passed' %}
                                            <i class="fa fa-check" style="color:green;"></i>
                                            {{ info['review_stat'] }}{% elif info['review_stat'] == 'failed' %}
                                            <i class="fa fa-exclamation-circle" style="color:red;"></i>
                                            {{ info['review_stat'] }}{% endif %}</td>
                                        <td>{% if info['review_dev'] %}<i class="fa fa-user"></i>
                                            {{ info['review_dev'] }}{% else %}n/a{% endif %}</td>
                                        <td>{% if info['review_date'] %}<i class="fa fa-calendar"></i>
                                            {{ info['review_date'] }}{% else %}n/a{% endif %}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}


                        </tbody>
                    </table>
                    {% if all_pages > 1 %}
                        <div class="btn-group">
                            {% if page >= 2 %}
                                <a href="/completed/{{ page - 1 }}" class="btn btn-primary">&laquo;</a>
                            {% else %}
                                <a href="#" class="btn btn-primary">&laquo;</a>
                            {% endif %}
                            {% for i in range(0, all_pages) %}
                                <a href="/completed/{{ loop.index0 + 1 }}"
                                   class="btn btn-primary">{{ loop.index0 + 1 }}</a>
                            {% endfor %}

                            <a href="/completed/{{ page + 1 }}" class="btn btn-primary">&raquo;</a>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
            <div class="loading"><i class="fa fa-refresh fa-spin"></i></div>
        </div>
    </div>

{%- endblock bottomcontent %}
{% if user.is_authenticated() %}
    {% block scripts %}
        {{ super() }}
        <script type="text/javascript">
            jQuery(document).ready(function () {
                jQuery('.set_result').on('click', 'a', function (e) {
                    e.preventDefault();
                    jQuery(this).addClass('clicked');
                    var data = {
                        bnum: jQuery(this).attr('bnum'),
                        result: jQuery(this).attr('id'),
                        dev: '{{ user.username }}'
                    };
                    jQuery.ajax({
                        type: 'POST',
                        url: '/pkg_review',
                        data: JSON.stringify(data, null, '\t'),
                        contentType: 'application/json;charset=UTF-8',
                        dataType: 'json',
                        success: function (result) {
                            console.log(result);
                            var res = $('.clicked').attr('id') == '2' ? 'span.passed' : 'span.failed';
                            if (result['msg'] == 'ok') {
                                jQuery('.clicked').parents('td').find(res).show();
                                jQuery('.clicked').removeClass('clicked').parents('.btn-group').hide();
                            } else {
                                alert('Unable to save result. Server Error Msg:\n' + result['msg']);
                            }
                        }

                    });
                });
            });
        </script>
    {% endblock scripts %}
{% endif %}