{% extends "base.html" %}

{% block pagetitle -%}Failed{%- endblock pagetitle %}
{% block stats %}{% endblock stats %}
{% block subheader %}
    <div class="page-head"><h2>{{ self.pagetitle() }}</h2>
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="#">Build Reports</a></li>
            <li class="active">{{ self.pagetitle() }}</li>
        </ol>
    </div>
{% endblock subheader %}

{% block bottomcontent -%}
    <div class="row">
        <div class="col-md-10">
            <div id="bottom-wrap" class="block-flat">
                <div class="header">
                    <h3>Failed Builds</h3>
                </div>
                <div class="content">
                    {% if not failed or failed == "0" %}
                                None
                    {% else %}
            <table class="table no-border hover">
                <thead class="no-border">
                <tr>
                    <th>Build</th>
                    <th>Name</th>
                    <th>Version</th>
                    <th>Start</th>
                    <th>End</th>
                </tr>
                </thead>
                <tbody class="no-border-y">


                    {% for item in failed %}
                    {% for pkg, info in item.items() %}
                        <tr>
                            <td><a href="/build/{{ info['bnum'] }}">{{ info['bnum'] }}</a></td>
                            <td>{{ info['name'] }}</td>
                            <td>{{ info['version'] }}</td>
                            <td>{{ info['start'] }}</td>
                            <td>{{ info['end'] }}</td>
                        </tr>

                    {% endfor %}
                    {% endfor %}


                </tbody>
            </table>

            {% if all_pages > 1 %}
                <div class="btn-group">
                    {% if page >= 2 %}
                        <a href="/failed/{{ page - 1 }}" class="btn btn-primary">&laquo;</a>
                    {% else %}
                        <a href="#" class="btn btn-primary">&laquo;</a>
                    {% endif %}
                    {% for i in range(0, all_pages) %}
                        <a href="/failed/{{ loop.index0 + 1 }}" class="btn btn-primary">{{ loop.index0 + 1 }}</a>
                    {% endfor %}

                    <a href="/failed/{{ page + 1 }}" class="btn btn-primary">&raquo;</a>
                </div>
            {% endif %}
                    {% endif %}
        </div>
                <div class="loading"><i class="fa fa-refresh fa-spin"></i></div>
            </div>
        </div>

    </div>
{%- endblock bottomcontent %}