{% extends "base.html" %}

{% block pagetitle -%}Failed{%- endblock pagetitle %}
{% block stats %}{% endblock stats %}

{% block bottomcontent -%}

    <div class="col-md-12">
            <div id="bottom-wrap" class="block-flat">
            <div class="loading"><i class="fa fa-refresh fa-spin"></i></div>
                <div class="header">
                    <h3>Failed Builds</h3>
                </div>
                <div class="content">
                    {% if not failed or failed == "0" %}
                                None
                    {% else %}
            <table class="table no-border hover">
                <thead class="no-border">
                <tr>
                            <th>Build&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                    <th>Name</th>
                    <th>Version</th>
                    <th>Start</th>
                    <th>End</th>
                </tr>
                </thead>
                <tbody class="no-border-y">


                    {% for item in failed %}
                    {% for pkg, info in item.items() %}
                        <tr>
                            <td><a href="/build/{{ info['bnum'] }}">{{ info['bnum'] }}</a></td>
                            {% if user.is_authenticated() %}<td><a href="/pkg/{{ info['name'] }}">{{ info['name'] }}</a></td>{% else %}
                            <td>{{ info['name'] }}</td>{% endif %}
                            <td>{{ info['version'] }}</td>
                            <td>{{ info['start'] }}</td>
                            <td>{{ info['end'] }}</td>
                        </tr>

                    {% endfor %}
                    {% endfor %}


                        </tbody>
                    </table>
                    {% macro render_pagination(pagination) %}
                        <ul class="pagination custom">
                            {% if pagination.has_prev %}
                                <li><a href="{{ url_for_other_page(pagination.page - 1) }}">&laquo; Previous</a></li>
                            {% endif %}
                            {%- for page in pagination.iter_pages() %}
                                {% if page %}

                                    {% if page != pagination.page %}
                                        <li><a href="{{ url_for_other_page(page) }}">{{ page }}</a></li>
                                    {% else %}
                                        <li class="active"><a href="#"><strong>{{ page }}</strong></a></li>
                                    {% endif %}
                                {% else %}
                                    <li><span class=ellipsis>…</span></li>
                                {% endif %}
                            {%- endfor %}
                            {% if pagination.has_next %}
                                <li><a href="{{ url_for_other_page(pagination.page + 1) }}">Next &raquo;</a></li>
                            {% endif %}
                        </ul>
                    {% endmacro %}
                    {{ render_pagination(pagination) }}
                {% endif %}
            </div>

        </div>
    </div>
{%- endblock bottomcontent %}
