{% extends "base.html" %}

{% block pagetitle -%} Overview{%- endblock pagetitle %}
{% block topcontent %}
    <div class="col-md-1 col-sm-1"></div>
    <div class="col-md-2 col-sm-2">
        <div class="fd-tile detail clean tile-purple">
            <div class="content"><h1 class="text-left">{{ stats.queue }}</h1>

                <p>Scheduled Builds</p></div>
            <div class="icon"><i class="fa fa-clock-o"></i></div>
            <a class="details" href="/scheduled">Details <span><i
                    class="fa fa-arrow-circle-right pull-right"></i></span></a>
        </div>
    </div>


    <div class="col-md-2 col-sm-2">
        <div class="fd-tile detail clean tile-lemon">
            <div class="content"><h1 class="text-left">{{ stats.completed }}</h1>

                <p>Completed Builds &lt; 72hrs</p></div>
            <div class="icon"><i class="fa fa-check"></i></div>
            <a class="details" href="/completed">Details <span><i
                    class="fa fa-arrow-circle-right pull-right"></i></span></a>
        </div>
    </div>


    <div class="col-md-2 col-sm-2">
        <div class="fd-tile detail clean tile-red">
            <div class="content"><h1 class="text-left">{{ stats.failed }}</h1>

                <p>Failed Builds &lt; 72hrs</p></div>
            <div class="icon"><i class="fa  fa-exclamation-triangle"></i></div>
            <a class="details" href="/failed">Details <span><i
                    class="fa fa-arrow-circle-right pull-right"></i></span></a>
        </div>
    </div>

    <div class="col-md-2 col-sm-2">
        <div class="fd-tile detail clean tile-prusia">
            <div class="content"><h1 class="text-left">{{ stats.repo_staging }}</h1>

                <p>Packages In Staging Repo</p></div>
            <div class="icon"><i class="fa fa-rocket"></i></div>
            <a class="details" href="/browse">Details <span><i
                    class="fa fa-arrow-circle-right pull-right"></i></span></a>
        </div>
    </div>

    <div class="col-md-2 col-sm-2">
            <div class="fd-tile detail clean tile-orange">
                <div class="content"><h1 class="text-left">{{ stats.repo_main }}</h1>

                    <p>Packages In Main Repo</p></div>
                <div class="icon"><i class="fa fa-desktop"></i></div>
                <a class="details" href="/browse/main">Details <span><i
                        class="fa fa-arrow-circle-right pull-right"></i></span></a>
            </div>
        </div>

    <div class="col-md-1 col-sm-1"></div>
{% endblock topcontent %}
