{% extends "base.html" %}

{% block pagetitle -%} Antergos Build Server | Overview{%- endblock pagetitle %}
{% block topcontent %}
    <div class="col-lg-1 col-md-0 col-sm-12"></div>
    <div class="col-lg-2 col-md-4 col-sm-12">
        <div class="fd-tile detail clean tile-purple">
            <div class="content"><h1 class="text-left">{{ stats.queue }}</h1>

                <p>Queued Builds</p></div>
            <div class="icon"><i class="fa fa-clock-o"></i></div>
            <a class="details" href="/scheduled">Details <span><i
                    class="fa fa-arrow-circle-right pull-right"></i></span></a>
        </div>
    </div>


    <div class="col-lg-2 col-md-4 col-sm-12">
        <div class="fd-tile detail clean tile-lemon">
            <div class="content"><h1 class="text-left">{{ stats.completed }}</h1>

                <p>Completed Builds &lt; 48hrs</p></div>
            <div class="icon"><i class="fa fa-check"></i></div>
            <a class="details" href="/completed">Details <span><i
                    class="fa fa-arrow-circle-right pull-right"></i></span></a>
        </div>
    </div>


    <div class="col-lg-2 col-md-4 col-sm-12">
        <div class="fd-tile detail clean tile-red">
            <div class="content"><h1 class="text-left">{{ stats.failed }}</h1>

                <p>Failed Builds &lt; 48hrs</p></div>
            <div class="icon"><i class="fa  fa-exclamation-triangle"></i></div>
            <a class="details" href="/failed">Details <span><i
                    class="fa fa-arrow-circle-right pull-right"></i></span></a>
        </div>
    </div>

    <div class="col-lg-2 col-md-5 col-lg-offset-0 col-md-offset-1 col-sm-12">
        <div class="fd-tile detail clean tile-prusia">
            <div class="content"><h1 class="text-left">{{ stats.repo_staging }}</h1>

                <p>Packages In Staging Repo</p></div>
            <div class="icon"><i class="fa fa-rocket"></i></div>
            <a class="details" href="/browse">Details <span><i
                    class="fa fa-arrow-circle-right pull-right"></i></span></a>
        </div>
    </div>

    <div class="col-lg-2 col-md-5 col-sm-12">
        <div class="fd-tile detail clean tile-orange">
            <div class="content"><h1 class="text-left">{{ stats.repo_main }}</h1>

                <p>Packages In Main Repo</p></div>
            <div class="icon"><i class="fa fa-desktop"></i></div>
            <a class="details" href="/browse/main">Details <span><i
                    class="fa fa-arrow-circle-right pull-right"></i></span></a>
        </div>
    </div>

    <div class="col-lg-1 col-md-3 col-sm-12"></div>
{% endblock topcontent %}
{% block bottomcontent %}
    {% if this_page and this_page != "" %}
        <div class="col-md-6">
            <div class="block-transparent tlwrap">
                <div class="header">
                    <h4>Timeline</h4>
                </div>
                <ul class="timeline">
                    {% for item in this_page %}
                        {% for event, info in item.items() %}
                            <li id="{{ info['event_id'] }}">
                                <i class="{% if info['tltype'] == '1' %}fa fa-github{% elif info['tltype'] == '2' %}fa phab{% else %}fa fa-comment{% endif %}"></i>
                                <span class="date">{{ info['date'] }}</span>

                                <div class="content">
                                    <p>{{ info['msg']|safe }}</p>
                                    <small>{{ info['time'] }}</small>
                                </div>
                            </li>
                        {% endfor %}
                    {% endfor %}
                </ul>
                {% if all_pages > 1 %}
                    <ul class="pagination">
                        {% if page >= 2 %}
                            <li><a href="/timeline/{{ page - 1 }}">&laquo;</a></li>
                        {% else %}
                            <li class="disabled"><a href="#">&laquo;</a></li>
                        {% endif %}
                        <li class="active"><a href="#">{{ page }}</a></li>

                        <li><a href="/timeline/{{ page + 1 }}">&raquo;</a></li>
                    </ul>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock bottomcontent %}
{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        function tlhandler() {
            $('.pagination').on('click', 'a', function (e) {
                e.preventDefault();
                var url = $(this).attr('href');
                if (url != '#') {
                    $(".tlwrap").fadeTo('fast',0.2).load(url + " .tlwrap", function () {
                        $(".tlwrap").fadeTo('fast',1);
                        tlhandler();
                    });
                }
            });
        }
        $(document).ready(tlhandler());
    </script>
{% endblock scripts %}