{% extends "base.html" %}

{% block pagetitle -%}Package Profile{%- endblock pagetitle %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="/static/js/jquery.easypiechart/jquery.easy-pie-chart.css" />
{{ super() }}
{% endblock styles %}
{% block stats %}{% endblock stats %}

{% block bottomcontent -%}


<div class="col-sm-12">
    <div class="block-flat profile-info">
        <div class="row">
            <div class="col-sm-2">
                <div class="avatar">
                    <img src="/static/img/pkg-default.png" class="profile-avatar"/>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="personal">
                    <h1 class="name">{{ pkg.name }}</h1>

                    <p class="description">{{ pkg.desc }}<p>
                </div>
            </div>
            <div class="col-sm-2" style="font-size: 48px; text-align: center; height: 94px; position: relative; bottom: 10px;">
                <h3 style="margin-bottom: 20px;">Total Builds</h3>
                {{ pkg.builds|length() }}
            </div>
            <div class="col-sm-4">
                <h3 style="margin-top: 10px;margin-bottom: 20px;"></h3>
                              <div class="progress">
                                <div class="progress-bar progress-bar-success" style="width: {{ pkg.success_rate }}%;">{{ pkg.success_rate }}% Completed</div>
                                  <div class="progress-bar progress-bar-danger right" style="width: {{ pkg.failure_rate }}%;">{{ pkg.failure_rate }}% Failed</div>
                              </div>
            </div>
        </div>
    </div>
</div>
{% endblock bottomcontent %}
{% block scripts %}
{{ super() }}
    {#<script type="text/javascript" src="/static/js/jquery.easypiechart/jquery.easy-pie-chart.js"></script>
<script>
    if ($('.epie-chart').length) {
    $('.epie-chart').easyPieChart({
            lineWidth: 8,
            animate: 600,
            size: 150,
            onStep: function(val){//Update current value while animation
              $("span", this.$el).html(parseInt(val) + "%");
            }
            });
    }
</script>#}
{% endblock scripts %}