{% extends "base.html" %}

{% block pagetitle -%}Package Review{%- endblock pagetitle %}
{% block stats %}{% endblock stats %}
{% block login %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ user }}
            <b class="caret"></b></a>

        <ul class="dropdown-menu">
            <li><a href="/logout"><i class="fa fa-sign-out"></i> Log Out</a></li>
        </ul>

    </li>
{% endblock login %}
{% block bottomcontent -%}
    <div class="row">
        <div class="col-md-10">
            <div id="bottom-wrap" class="block-flat">
                <div class="header">
                    <h3>Package Review</h3>
                </div>
                <div class="content">
                    {% if not completed or completed == "0" %}
                        None
                    {% else %}
                        <table class="table no-border hover">
                            <thead class="no-border">
                            <tr>
                                <th>Build</th>
                                <th>Name</th>
                                <th>Version</th>
                                <th>Start</th>
                                <th>End</th>
                                <th>Review Status</th>
                                <th>Reviewed By</th>
                                <th>Review Date</th>
                            </tr>
                            </thead>
                            <tbody class="no-border-y">

                            {% for item in completed %}
                                {% for pkg, info in item.items() %}
                                    <tr>
                                        <td><a href="/build/{{ info['bnum'] }}">{{ info['bnum'] }}</a></td>
                                        <td>{{ info['name'] }}</td>
                                        <td>{{ info['version'] }}</td>
                                        <td>{{ info['start'] }}</td>
                                        <td>{{ info['end'] }}</td>
                                        <td>{{ info['review_stat'] }}</td>
                                        <td>{{ info['review_dev'] }}</td>
                                        <td>{{ info['review_date'] }}</td>
                                    </tr>
                                {% endfor %}
                            {% endfor %}


                            </tbody>
                        </table>
                        {% if all_pages > 1 %}
                            <div class="btn-group">
                                {% if page >= 2 %}
                                    <a href="/completed/{{ page - 1 }}" class="btn btn-primary">&laquo;</a>
                                {% else %}
                                    <a href="#" class="btn btn-primary">&laquo;</a>
                                {% endif %}
                                {% for i in range(0, all_pages) %}
                                    <a href="/completed/{{ loop.index0 + 1 }}"
                                       class="btn btn-primary">{{ loop.index0 + 1 }}</a>
                                {% endfor %}

                                <a href="/completed/{{ page + 1 }}" class="btn btn-primary">&raquo;</a>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>

{%- endblock bottomcontent %}