<div id="page-data">


    <h1 class="showhide_heading" id="What_NOT_To_Do">What NOT To Do</h1>

    <p>Some Live USB utilities alter the labels of the partitions included in the ISO image. This causes the boot to
        fail. There are work arounds to fix the failure but that is outside the scope of this article. For best results,
        it is recommended that you NOT use these types of utilities to create your Live USB. Some of the more widely
        known utilities that fall into this category are:
    </p>

    <ul>
        <li>UNetbootin
        </li>
        <li>Linux Live USB Creator
        </li>
        <li>Universal USB Installer
        </li>
        <li>Live USB Creator
        </li>
    </ul>
    <hr>

    <h1 class="showhide_heading" id="Create_Live_USB_From_Linux">Create Live USB From&nbsp;Linux</h1>

    <p>There are many methods of creating Live USB images using Linux. We are going to focus on only the&nbsp;two
        recommended methods which are dd from the command line and SUSE Image Writer from the GUI.
    </p>


    <h2 class="showhide_heading" id="Command_Line">Command Line</h2>

    <p>The following command will almost always result in a working Live USB. Just change the paths to the correct paths
        on your system. NOTE: The USB drive is specified as /dev/sdx and not /dev/sdxX. The most common path of a USB
        drive is /dev/sdb BUT may be different depending on your system. To view a list of all drives run `sudo fdisk
        -l`.
    </p>


    <pre title="The dd command:">sudo dd if=/path/to/antergos.iso of=/dev/sdx</pre>

    <p>NOTE: The dd command does not offer a progress bar by default so you will only see a flashing cursor while it's
        working. Once it's complete it will show a summary of the task. The amount of time it takes to write the image
        will vary depending on image size and system specs.
    </p>
    NOTE:Another helpful add on to the dd command is to add &amp;&amp; sync to it

    <pre title=Example:">sudo dd if=/path/to/antergos.iso of=/dev/sdx &amp;&amp; sync</pre>


    <p>This will allow dd to try and make things more proper.
    </p>


    <h2 class="showhide_heading" id="GUI">GUI</h2>

    <p>Suse Image Writer is easy to use and&nbsp;works great.&nbsp;Download and install it via the appropriate method
        for your system.
    </p>

    <ul>
        <li><a class="wiki external" target="_blank" href="https://aur.archlinux.org/packages/imagewriter/"
               rel="external nofollow">AUR - Antergos, Arch, Manjaro</a>
        </li>
        <li><a class="wiki external" target="_blank"
               href="http://sourceforge.net/projects/linuxfreedomfor/files/Mix/imagewriter_1.9-1~lffl_all.deb"
               rel="external nofollow">.deb - Debian, Ubuntu, Mint</a>
        </li>
        <li><a class="wiki external" target="_blank"
               href="ftp://rpmfind.net/linux/opensuse/distribution/13.1/repo/oss/suse/x86_64/imagewriter-1.10-4.1.3.x86_64.rpm"
               rel="external nofollow">.rpm - openSUSE, Fedora</a>
        </li>
    </ul>
    <p>&nbsp;
    </p>


    <h1 class="showhide_heading" id="Create_Live_USB_From_Windows">Create Live USB From Windows</h1>

    <p>USBWriter is a free USB image writer that supports .iso files (which Antergos uses) with ease. Just head to the
        Source Forge link below and download the program, "browse" to the .iso image of Antergos, select the target USB
        drive and click the "Write" button and it will properly format the drive and write the image.
    </p>

    <ul>
        <li><a class="wiki external" target="_blank" href="http://sourceforge.net/projects/usbwriter/"
               rel="external nofollow">USBWriter for Windows</a>
        </li>
    </ul>
    <p>
        <br>Alternatively, to create a Live USB using Windows another solution is to use Suse Image Writer. &nbsp;You
        can download it from the link below. NOTE: When selecting the iso image you may have to press star (*) in the
        file selection dialogue for it to show your iso image.
    </p>

    <ul>
        <li><a class="wiki external" target="_blank"
               href="http://en.opensuse.org/SDB:Create_a_Live_USB_stick_using_Windows" rel="external nofollow">Suse
            Image Writer for Windows</a>
        </li>
    </ul>
    <p>&nbsp;
    </p>

    <p>&nbsp;
    </p>

</div>