{% extends "base.html" %}
{% block pagetitle -%}403: Forbidden{%- endblock pagetitle %}
{% block body_attribs %} class="texture" style="background: #272930;"{% endblock body_attribs %}
{% block body %}
<div id="cl-wrapper" class="error-container">
	<div class="page-error">
		<h1 class="number text-center">403</h1>
		<h2 class="description text-center">Forbidden</h2>
		<h3 class="text-center">Would you like to go <a href="/">home</a>?</h3>
	</div>
	<div class="text-center copy">&copy; 2014-2016 <a href="#">Antergos</a></div>


</div>

<script src="/static/js/jquery.js"></script>
<script type="text/javascript">
  $(function(){
    $("#cl-wrapper").css({opacity:1,'margin-left':0});
  });
</script>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
  <script src="/static/js/bootstrap/dist/js/bootstrap.min.js"></script>
{% endblock body %}